<div class="blog-masthead">
   <div class="container">
     <nav class="blog-nav">
     <% if category_id==0 %>
       <%= link_to 'Home', categories_path, html_options = { :class=>"blog-nav-item active"} %>
      <% else %>
        <%= link_to 'Home', categories_path, html_options = { :class=>"blog-nav-item"} %>
      <% end %>

      <% categories_list.each do |category| %>
        <% if category.id == category_id %>
          <%= link_to category.name, category, html_options = { :class=>"blog-nav-item active"} %>
        <% else %>
          <%= link_to category.name, category, html_options = { :class=>"blog-nav-item"} %>
        <% end %>
      <% end %>
      
      <% if category_id==0 %>
        <%= link_to "Admin", "categories/admin", html_options = { :class=>"blog-nav-item"} %>
       <% else %>
        <%= link_to "Admin", "admin", html_options = { :class=>"blog-nav-item"} %>
       <% end %>

       <%= link_to "Crawl", crawl_path, html_options = { :class=>"blog-nav-item"} %>

      <div class="btn-group">
        <a class="btn dropdown-toggle blog-nav-item" data-toggle="dropdown" href="#">APIs <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% categories_list.each do |category| %>
            <li><%= link_to category.name, apis_path(category) %></li>
          <% end %>
        </ul>
      </div>

     </nav>
   </div>
 </div>

 <div class="container">

   

   <div class="row">

     <div class="col-sm-8 blog-main">
       <% posts.each do |post| %>
         <div class="blog-post">
           <!-- <h2 class="blog-post-title"><%= post.title %></h2> -->
           <h2 class="blog-post-title">
            <%= link_to post.title, post %>
           </h2> 
           <p class="blog-post-meta"><%= post.created_at %> <%= post.point %> points</p>

           <p><%= image_tag(post.image_url, :alt => "#", :size => "380x330") %></p>
         </div><!-- /.blog-post -->
       <% end %>

       <%= will_paginate posts, renderer: BootstrapPagination::Rails %>

     </div><!-- /.blog-main -->

   </div><!-- /.row -->

 </div><!-- /.container -->